@font-face {
    font-family: 'croissant';
    src: url("CroissantOne-Regular.ttf");
}

.box{
    width: 100px;
    height: 100px;
    background-color: #3498db;
}
.fixed-box{
    position: fixed;
    top:20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
}
.parent{
    position: relative;
    width: 1000px;
    height:200px;
}
.absolute-box{
    position: absolute;
    top:50px;
    left: 50px;
    width:100px ;
    height:100px ;
    background-color: #2ecc71;


}
.box1{
    position: relative;
    z-index: 2;
    background-color: red;
}
.box2{
    position: relative;
    z-index: 1;
    background-color: pink;
}
/* Estilos para o menu de navegação */
nav {
    font-family: 'croissant';
    background-color: #F2780C; /* Cor de fundo do menu principal */
    display: flex; /* Torna o menu um flex container */
    justify-content:space-between; /* Espaço entre o logo e os itens do menu */
    align-items: center; /* Centraliza verticalmente o logo e os itens do menu */
    padding: 10px 20px; /* Espaçamento interno no topo e nas laterais do menu */
}


ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin-left: 10px; /* Remove as margens padrão da lista */
    display: flex; /* Torna a lista um flex container */
}

li {
    margin-right: 20px; /* Espaçamento entre os itens do menu */
    position: relative; /* Adiciona posicionamento relativo para os submenus */
}

/* Estilos para os links do menu */
a {
    text-decoration: none; /* Remove a sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    font-weight: bold; /* Deixa o texto em negrito */
   
}

/* Estilização do hover dos links */
a:hover {
    color:#D9303E; /* Cor dos links quando o mouse passa por cima (cor laranja) */
}

/* Estilos para os submenus */
.submenu {
    display: none; /* Oculta o submenu por padrão */
    position: absolute; /* Posicionamento absoluto em relação ao pai */
    top: 100%; /* Alinha o topo do submenu com a parte inferior do pai */
    left: 0; /* Alinha a esquerda do submenu com a esquerda do pai */
    background-color: #F28B0C; /* Cor de fundo do submenu (cor laranja) */
    padding: 10px; /* Espaçamento interno do submenu */
    border-radius: 0 0 5px 5px; /* Borda arredondada na parte inferior do submenu */
    box-shadow: 0 4px 6px black; /* Sombra suave para o submenu */
}

/* Exibir submenus ao passar o mouse sobre os itens pai */
li:hover .submenu {
    display: block;
}

/* Estilos para os itens de submenu */
.submenu li {
    margin-right: 0; /* Remova a margem direita dos itens do submenu */
}

.submenu a {
    font-weight: normal; /* Volta o peso da fonte ao normal nos itens de submenu */
    color: #fff; /* Cor do texto nos itens de submenu */
}

/* Estilização do hover dos itens de submenu */
.submenu a:hover {
    color: #D9303E; /* Cor dos itens de submenu quando o mouse passa por cima (cor de fundo laranja) */
}
.logo img {
    max-width: 60px; /* Define a largura máxima da imagem do logo */
    height: auto; /* Mantém a proporção da imagem */
}
