/*div {
    width: 250px;
    margin: auto;
}*/

div { 
   padding-top: 30px; 
   padding-right:  50px; 
   padding-bottom:  30px; 
   padding-left:  50px; 
   background-color: red;
   width: 100%;
   margin: -10px;
  }
p{
    background-color: blue;
    width: 250px;
    margin: auto;
    text-align: center;
}