@font-face {
    font-family: 'protest';
    src: url(../font/ProtestRiot-Regular.ttf);
}
body {
    font-family: protest;
    margin: 0;
    padding: 0;
}
img{
    width: 400px;
    height: 300px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    width: 400px;
}
p{
    text-align: justify;
    width: 400px;
}
.menu {
    background-color:#D96704;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: larger;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: #000000	;
    text-decoration: none;
}